/* CSS Document */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0%;
    width: 100%;
}
.bottom-navbar {
    position: fixed;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
    background-color: rgb(230, 225, 225);
}
.bottom-navbar a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding-right: 10px;
    height: 30px;
}
.bottom-right {
    float: right;
}
li {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
.right {
    float: right;
}
body {
    background-color: white;
    padding-top: 10%;
}
.logo {
    text-align: center;
    padding-bottom: 10px;
}
.searchbar {
    position:  relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.searchbar input {
    width: 30%;
    height: 40px;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 150%;
}
.Google {
    position: relative;
    text-align: center;
    right: 80px;
}
.FeelingLucky {
    position: relative;
    text-align: center;
    bottom: 40px;
    left: 60px;
}
input[type="button"] {
    border: none;
    width: 120px;
    height: 40px;
    display: inline;
}
.button {
    background: rgb(60, 120, 233);
    height: 20px;
    width: 55px;
    color: white;
}
.no-outline:focus {
    outline: none;
}
